/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* Definição de variáveis */
:root {
  --color-primary: rgb(185, 185, 185);
  --color-secondary: rgb(28, 28, 28);
  --color-span: #00C29F;
  --color-hover: #00C29F;
  --color-gray: #86A1A3;

  --background-primary: #0b2b28;
  --background-secondary: #082321;

  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-league-Spartan: 'League Spartan', sans-serif;
}

/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-montserrat);
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}


/* Header */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  height: 80px;
  background: var(--background-secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  height: auto;
  align-items: center;
  width: auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--ff-montserrat);
  font-size: 28px;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.menu{
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu li a {
  text-decoration: none;
  color: var(--color-primary);

}
.menu li a:hover {
  color: var(--color-hover);
}

.menu-icon {
  display: none;
  justify-content: flex-end;
  flex: 1;
}

.menu-icon .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  padding: 2px;
}
.menu-icon .icon span {
  width: 100%;
  height: 4px;
  background-color: var(--color-gray);
  border-radius: 2px;

}
/* Hero */
.hero {
  display: flex;
  width: 100%;
  height: 580px;
  margin-top: 80px;
  background-color: var(--background-primary);
}
.hero .container {
  display: flex;
  width: 100%;
}
.hero-left,
.hero-right {
  display: flex;
  flex: 1;
}

.hero-left .hero-infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.hero-left .hero-infor h1 {
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 4.375rem; /* 70px */
  line-height: 4.25rem; /* 68px */
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.hero-left .hero-infor p {
  font-size: 2.5rem; /* 40px */
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.hero-left .hero-infor .profissao {
  color: var(--color-span);
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-infor .sociais {
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.sociais {
  display: flex;
  align-items: flex-start;
  padding: 5px;
}
.sociais a {
  margin-right: 20px;
}
.sociais a svg {
  fill: var(--color-gray);
  transition: fill 0.1s ease;
}

.hero-infor .sociais a svg:hover {
  fill: var(--color-hover);
}

.hero-right {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero-right img {
  width: 100%;
  min-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .navBar {
      display: none; /* Esconde o menu em telas pequenas */
  }
  .menu-icon {
      display: flex;
  }

  /* Hero */
  .hero {
      height: auto;
  }
  .hero .container {
      flex-direction: column-reverse;
      width: 100%;
  }
  .hero-left {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      margin-top: -50px;
  }
  .hero-left .hero-infor {
      padding: 0;
      align-items: center;
      text-align: center;
  }
  .hero-left .hero-infor h1 {
      font-size: 2.5rem; /* Reduz o tamanho do título */
      line-height: 2rem;
  }
  .hero-left .hero-infor p,
  .hero-left .hero-infor .profissao {
      font-size: 1.75rem; /* Ajusta os textos secundários */
  }
  .hero-right {
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .hero-right img {
      width: 320px;
      height: auto;
  }
  .hero-infor .sociais {
      justify-content: center;
      gap: 20px;
  }
  .sociais a {
      margin-right: 0;
  }
}

