@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/*---------------Variáveis globais--------------- */
:root {
  --color-primary: rgb(185, 185, 185);
  --color-secondary: rgb(28, 28, 28);
  --color-span: #00C29F;
  --color-hover: #00C29F;
  --color-gray: #555;
  --background-primary: #0b2b28;
  --background-secondary: #082321;
  --ff-montserrat: 'Montserrat';
  --ff-league-Spartan: 'League Spartan';
}

/* ---------------Estilos globais--------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-montserrat);
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}
/* --------------HTML--------------- */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* --------------Barra de rolagem--------------- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray); 
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover); 
}

/* ---------------Animações--------------- */
.animate {
  opacity: 0;
  transform: translateY(20px); /* Posição inicial padrão */
  transition: all 0.6s ease-in-out;
}

.animate[data-animation="fade-up"] {
  transform: translateY(20px);
}

.animate[data-animation="fade-down"] {
  transform: translateY(-20px);
}

.animate[data-animation="slide-left"] {
  transform: translateX(-30px);
}

.animate[data-animation="slide-right"] {
  transform: translateX(30px);
}

.animate[data-animation="zoom-in"] {
  transform: scale(0.8);
}

/* Quando a classe 'show' é adicionada, a animação ocorre */
.animate.show {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

/* ---------------HEADER--------------- */
header {
  width: 100%;
  height: 80px;
  background: var(--background-secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--color-gray);
}

.logo {
  display: flex;
  height: auto;
  align-items: center;
  width: auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--ff-montserrat);
  font-size: 28px;
}

header nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.menu ul{
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu ul li a {
  display: block;
  line-height: 30px;
  text-decoration: none;
  color: var(--color-primary);

}
.menu li a:hover {
  color: var(--color-hover);
}

.menu-show {
  display: none;
  justify-content: flex-end;
  flex: 1;
}
.menu-close {
  display: none;
}

.menu-show .icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  padding: 2px;
}

.menu-show .icon span {
  width: 100%;
  height: 4px;
  background-color: var(--color-gray);
  border-radius: 2px;
}

/* ---------------Hero--------------- */
.hero {
  display: flex;
  width: 100%;
  height: 580px;
  margin-top: 80px;
  background-color: var(--background-primary);
}

.hero .container {
  display: flex;
  width: 100%;
}

.hero-left,
.hero-right {
  display: flex;
  flex: 1;
}

.hero-left .hero-infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.hero-left .hero-infor h1 {
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 4.375rem; /* 70px */
  line-height: 4.25rem; /* 68px */
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.hero-left .hero-infor p {
  font-size: 2.5rem; /* 40px */
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 5px;
}

.hero-left .hero-infor .profissao {
  color: var(--color-span);
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-infor .sociais {
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.sociais {
  display: flex;
  align-items: flex-start;
  padding: 5px;
}
.sociais a {
  margin-right: 20px;
}
.sociais a svg {
  fill: var(--color-gray);
  transition: fill 0.1s ease;
}

.hero-infor .sociais a svg:hover {
  fill: var(--color-hover);
}

.hero-right {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero-right img {
  width: 100%;
  min-width: 300px;
  height: auto;
}

/* ---------------SOBRE MIM--------------- */
.sobre-mim {
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--background-secondary);
}

.sobre-mim .container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sobre-mim .container .title {
  display: flex;
  padding: 0 20px; 
  justify-content: flex-start;
}

.sobre-mim .container .title h2 {
  font-size: 40px;
  font-family: var(--ff-league-Spartan);
  font-weight: 500;
  color: var(--color-span);
}

.sobre-mim .container .sobre-mim-sides {
  display: flex;
}
.sobre-mim-left,
.sobre-mim-right {
  flex: 1;
  height: auto;
}

.sobre-mim-left .sobre-mim-infor,
.sobre-mim-right .sobre-mim-infor {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.sobre-mim-left .sobre-mim-infor p,
.sobre-mim-right .sobre-mim-infor p {
  font-size: 16px;
  color: var(--color-primary);
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}
.sobre-mim-left .sobre-mim-infor span {
  color: var(--color-span);
}

.sobre-mim-right .sobre-mim-infor .area-video {
  display: flex;
  justify-content: center; /* Centraliza o vídeo horizontalmente */
  width: 100%;
  margin-bottom: 20px;
}

.sobre-mim-right .sobre-mim-infor .area-video iframe {
  width: inherit; /* O iframe ocupa 100% da largura do container */
  max-width: 800px; /* Limita a largura máxima do vídeo */
  aspect-ratio: 16 / 9; /* Garante a proporção de 16:9 */
  border: none; /* Remove bordas padrão do iframe */
  border-radius: 5px;
}

.sobre-mim-right .sobre-mim-infor .area-bottons-idiomas {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  gap: 20px;
}
.sobre-mim-right .sobre-mim-infor .area-bottons-idiomas button {
  width: 120px;
  padding: 5px 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.sobre-mim-right .sobre-mim-infor .area-bottons-idiomas button:hover {
  background-color: var(--color-hover);
  color: var(--color-secondary);
}

